<div class="alert alert-danger" ng-if="vm.permissions.superuser">You are a alastair-admin, which means you are perfectly aware that you can screw this app with a single click. In case you disagree with this statement, please read the admin manual or contact an actual admin!</div>

<div class="row">
	<div class="col-lg-6">
		<div class="input-group">
			<span class="input-group-addon"><i class="fa fa-search"></i></span>
			<input class="form-control" type="text" ng-model="vm.search" ng-change="vm.resetData()" placeholder="Search ingredients">
		</div>
	</div>
	<div class="col-lg-6" ng-if="vm.permissions.superuser">
		<button class="btn btn-success" ng-click="vm.newIngredient()"><i class="fa fa-plus"></i> New</button>
        <a class="btn btn-info" ui-sref="app.alastair_chef.ingredient_requests"><i class="fa fa-question"></i> View Requests</a>
	</div>
    <div class="col-lg-6" ng-if="!vm.permissions.superuser">
        <a class="btn btn-info" ui-sref="app.alastair_chef.ingredient_requests"><i class="fa fa-question"></i> Request missing ingredient</a>
    </div>
</div>

<div class="row" infinite-scroll="vm.loadNextPage()" infinite-scroll-disabled="vm.block_infinite_scroll" infinite-scroll-distance="1">
	<div class="table-responsive">
		<table class="table">
			<thead>
				<tr>
					<th>Name</th>
					<th>Description</th>
					<th>Measurement</th>
          <th ng-if="vm.permissions.superuser">Actions</th>
        </tr>
			</thead>
			<tbody>
				<tr ng-repeat="ingredient in vm.data">
					<td>{{ ingredient.name }}</td>
					<td>{{ ingredient.description }}</td>
					<td>{{ ingredient.default_measurement.name }}</td>
          <td ng-if="vm.permissions.superuser">
            <button type="button" class="btn btn-sm btn-warning" ng-click="vm.editIngredient(ingredient)"><i class="fa fa-pencil"></i></button>
            <button type="button" class="btn btn-sm btn-danger" ng-click="vm.deleteIngredient(ingredient)"><i class="fa fa-minus"></i></button>
          </td>
				</tr>
			</tbody>
		</table>
	</div>

	<div ng-show="vm.data.length === 0 && !vm.busy">
		<p>No Ingredients in database with the current search</p>
	</div>
	<div ng-show="vm.busy">
		<p>Searching...</p>
	</div>
</div>

<!-- ########################### Ingredient modal ###################### -->
<div class="modal fade" id="ingredientModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title">Ingredient add/edit</h4>
            </div>
            <form name="ingredientForm" ng-submit="vm.submitForm()" class="margin-bottom-0" novalidate>
                <div class="modal-body">
                    <div class="form-group m-b-20">
                        <label for="name">Name*</label>
                        <input type="text" class="form-control" ng-model="vm.edited_ingredient.name" required />
                        <p class="label label-danger" ng-show="vm.errors.name">{{ vm.errors.name }}</p>
                    </div>
                    <div class="form-group m-b-20">
                        <label for="name">Description</label>
                        <input type="text" class="form-control" ng-model="vm.edited_ingredient.description" />
                        <p class="label label-danger" ng-show="vm.errors.description">{{ vm.errors.description }}</p>
                    </div>
                    <div class="form-group m-b-20">
                        <label for="name">Measurement*</label>
                        <select class="form-control" ng-model="vm.edited_ingredient.default_measurement_id" ng-options="measurement.id as measurement.name for measurement in vm.measurements" required></select> 
                        <p class="label label-danger" ng-show="vm.errors.default_measurement_id">{{ vm.errors.default_measurement_id }}</p>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-sm btn-danger" data-dismiss="modal"><i class="fa fa-ban"></i> Close</button>
                    <button type="submit" ng-disabled="bodyForm.$pristine || bodyForm.$invalid" class="btn btn-sm btn-success"><i class="fa fa-save"></i> Save </button>
                </div>
            </form>
        </div>
    </div>
</div>
